<div class="contact-form">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="text-center">
      <label for="email">Email</label>
    </div>
    <div class="text-center">
      <input type="text" id='email' formControlName="email">
    </div>

    <div class="text-center">
      <label for="name">Name</label>
    </div>
    <div class="text-center">
      <input type="text" id='name' formControlName="name">
    </div>

    <div class="text-center">
      <label for="proposal">Proposal</label>
    </div>
    <div class="text-center">
      <textarea type="text" id="proposal" formControlName="proposal"></textarea>
    </div>

    <div class="text-center">
      <button type="submit" [disabled]="!contactForm.valid">Send</button>
    </div>
  </form>
</div>
