<div [className]="'hotel-list'">
  <div [className]="'hotel-list-loading'">
    <div *ngIf="isDataLoading;">
      <div [className]="'loader'"></div>
      <div>Loading...</div>
    </div>
  </div>
  <mat-list [className]="'items-list'">
    <mat-list-item *ngFor="let hotel of hotels; let i = index;">
      <app-hotel
        [index]="i"
        [hotel]="hotel"
        [inFavorites]="hotelInFavorites(hotel)"
        [addHotelToFavorites]="addHotelToFavorites"
        [removeHotelFromFavorites]="removeHotelFromFavorites"
        (click)="selectHotel(hotel)"
      ></app-hotel>
      <hr/>
    </mat-list-item>
  </mat-list>
</div>
