.items-list {
  height: auto;
}

.app-list {
  //max-width: 400px;
}

.hotel-list {
  border-radius: 10px;
  padding: 5px;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow-y: auto;
  background-color: #1891D9;
}

.hotel-list-loading {
  position: absolute;
  top: 60%;
  left: 48%;
  width: 100px;
  z-index: 9999;
  font-size: 2em;
  font-weight: bold;
  color: black;
}
