<div class="hotel-profile container">
  <h3>Hotel profile</h3>
  <hr />

  <div class="row">

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">Followers:</div>
        <div class="col-md-6">{{profile.followers}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Following:</div>
        <div class="col-md-6">{{profile.following}}</div>
      </div>
    </div>

    <div class="col-md-3">
      <img src="{{profile.photo}}"/>
    </div>

  </div>

</div>
