<mat-toolbar color="blueGrey">
  <mat-toolbar-row>
    <span class="nav-icon" (click)="navigateTo('')">The Hotels Watcher</span>
    <span class="nav-icon" (click)="navigateTo('contact')">Contact us</span>

    <span class="example-spacer"></span>
    <span style="color:purple">{{(favoritesCount$ | async) || ''}}</span>

    <mat-icon
      *ngIf="isLoggined$ | async"
      (click)="handleFavoriteClick()"
      [@favoritesState]="state"
      class="favorites-icon"
      color="accent"
      matTooltip="Favorites">{{(hasFavorites$ | async) ? 'favorite' : 'favorite_border'}}
    </mat-icon>

    <span *ngIf="isLoggined$ | async" class="nav-icon" (click)="logOut()">Logout</span>

  </mat-toolbar-row>
</mat-toolbar>
