<mat-toolbar color="blueGrey">
  <mat-toolbar-row>
    <span class="nav-icon" routerLink="main">The Hotels Watcher</span>
    <span class="nav-icon" routerLink="contact">Contact us</span>

    <span *ngIf="user$ | async as user">
      <span>Welcome: </span>
      <span>{{ user.firstName }} {{ user.lastName }}</span>
    </span>

    <span class="example-spacer"></span>
    <span style="color:red">{{getFavoritesCount() || ''}}</span>

    <mat-icon
      (click)="handleFavoriteClick()"
      class="favorites-icon"
      matTooltip="Favorites">{{hasFavorites() ? 'favorite' : 'favorite_border'}}
    </mat-icon>

    <span class="nav-icon" (click)="logOut()">Logout</span>

  </mat-toolbar-row>
</mat-toolbar>
