<mat-toolbar color="blueGrey">
  <mat-toolbar-row>
    <span class="nav-icon" (click)="navigateTo('')">The Hotels Watcher</span>
    <span class="nav-icon" (click)="navigateTo('contact')">Contact us</span>

    <span *ngIf="user$ | async as user">
      <span>Welcome: </span>
      <span>{{ user.firstName }} {{ user.lastName }}</span>
    </span>

    <span class="example-spacer"></span>
    <span style="color:red">{{(favoritesCount$ | async) || ''}}</span>

    <mat-icon
      (click)="handleFavoriteClick()"
      class="favorites-icon"
      matTooltip="Favorites">{{(hasFavorites$ | async) ? 'favorite' : 'favorite_border'}}
    </mat-icon>

    <span class="nav-icon" (click)="logOut()">Logout</span>

  </mat-toolbar-row>
</mat-toolbar>
