.hotel-weather {
  background-color: #ffeee9;
  color: black;
  border-radius: 10px;
}

.rain {
  background: url('../../../assets/images/rain.png') no-repeat top left;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-size: 50px 50px;

}

.sun {
  background: url('../../../assets/images/sun.png') no-repeat top left;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-size: 50px 50px;

}

.cloud {
  background: url('../../../assets/images/cloudy.png') no-repeat top left;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-size: 50px 50px;
}
