.hotel-weather {
  background-color: #ffeee9;
  color: black;
  border-radius: 10px;
}

.rain {
  background: url('../../../assets/images/rain.png');

}

.sun {
  background: url('../../../assets/images/sun.png');

}

.cloud {
  background: url('../../../assets/images/cloudy.png');

}
