.hotel-details {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hotels-pictures {
  display: inline-block;
  margin: 10px;
  width: 400px;

  img {
    position: relative;
    float: left;
    width: 400px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
