<div class="menu">
  <div class="row menu-content">
    <div class="col-md-4 menu-search">
      <input type="text" placeholder="Search" (change)="setSearchValue($event)"/>
    </div>
    <div  class="col-md-1"></div>
    <div class="col-md-7 menu-filter-buttons">
      <div class="row text-center">
        <div class="menu-filter" *ngFor="let filter of filters">
          <button [className]="selectedFilter === filter ? 'checked' : ''" (click)="setActiveFilter(filter)">{{filter}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
