<app-header></app-header>

<app-details [hotel]="selectedHotel"></app-details>

<app-menu
  (activeFilter)="setActiveFilter($event)"
  (searchValue)="setSearchValue($event)"
></app-menu>

<app-list
  [hotels]="hotels | filter: favorites: activeFilter | search: searchValue"
  [favorites]="favorites"
  [addHotelToFavorites]="addHotelToFavorites"
  [removeHotelFromFavorites]="removeHotelFromFavorites"
  [isDataLoading]="isDataLoading"
  (hotel)="displaySelectedHotel($event)"
></app-list>

<app-footer></app-footer>

<router-outlet></router-outlet>
