<div class="login">

  <div class="login-header">SIGN IN</div>
  <div *ngIf="!(loading$ | async); else elseBlock">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-container">

      <p>
        <input type="text" id='email' formControlName="email" placeholder="Email">
      </p>

      <p>
        <input type="password" id='password' formControlName="password" placeholder="Password">
      </p>

      <p>
        <input type="submit" value="Log in" [disabled]="loading$ | async">
      </p>

      <p class="error" *ngIf="error$ | async">{{error$ | async}}</p>

    </form>
  </div>

  <ng-template #elseBlock>
    <div class="login-container" style="text-align: center">
      <div class="loader"></div>
    </div>
  </ng-template>

</div>
