<div class="hotel-weather container">
  <h3>The weather</h3>
  <hr />
  <div class="row">

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">Temperature:</div>
        <div class="col-md-6">{{weather.temperature}}	&#176;</div>
      </div>
      <div class="row">
        <div class="col-md-6">Wind:</div>
        <div class="col-md-6">{{weather.wind}} m/sec</div>
      </div>
    </div>

    <div class="col-md-3">
      <span class="weather.icon"></span>
    </div>

  </div>

</div>
