<div [className]="'hotel-profile container'">
  <h3>Hotel profile</h3>
  <hr />

  <div [className]="'row'">

    <div [className]="'col-md-9'">
      <div [className]="'row'">
        <div [className]="'col-md-6'">Followers:</div>
        <div [className]="'col-md-6'">{{profile.followers}}</div>
      </div>
      <div [className]="'row'">
        <div [className]="'col-md-6'">Following:</div>
        <div [className]="'col-md-6'">{{profile.followers}}</div>
      </div>
    </div>

    <div [className]="'col-md-3'">
      <img src="{{profile.photo}}"/>
    </div>

  </div>

</div>
