.hotel-list-item {
  padding-top: 10px;
  width: 100%;
  margin: 0 auto;
}

.hotel-list-item:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.hotel-picture {
  width: 100px;

  img {
    height: auto;
    width: 100%
  }
}

.hotel-favorites-btn {
  text-align: center;
  margin-top: 10px;

  button {
    border-radius: 5px;
  }
}
