<div *ngIf="isDataLoading$ | async; else elseBlock">
  <div class="hotel-loading">
    <div class="loader"></div>
    <div>Loading...</div>
  </div>
</div>

<ng-template #elseBlock>
  <app-details [hotel]="selectedHotel$ | async"></app-details>

  <app-menu
    [selectedFilter]="activeFilter"
    (activeFilter)="setActiveFilter($event)"
    (searchValue)="setSearchValue($event)"
  ></app-menu>

  <app-list
    [hotels]="hotels$ | async | filter: activeFilter | search: searchValue"
  ></app-list>
</ng-template>
